<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<nav class="navbar navbar-dark bg-info navbar-expand-lg" style="margin-bottom:30px;width:100%;">
  <a class="navbar-brand" href="/"><img src = "/trailhead-leaderboard.jpg" style:"width:30%;">></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/trailblazer/create">Get Listed</a>
      <a class="nav-item nav-link" href="/about">Abfout</a>
    </div>
  </div>
</nav>