@import url('https://fonts.googleapis.com/css?family=Alegreya:500i&display=swap');

body{
    background: -webkit-linear-gradient(left,#DCEDC8,#42B3D5);
    
}

.card{
    background: -webkit-linear-gradient(right,#BF935F,#FCF6BA,#B38728,#FBF5B7,#AA771C);
    font-family: 'Alegreya',serif;
}
.card:hover{
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

