@import url(https://fonts.google.com/specimen/Alegreya);

body{
    background: -webkit-linear-gradient(left,#DCEDC8,#42B3D5);
    font-family: 'Alegreya',sans-serif;
}

.card{
    background-color: #FFFDD0;
}

