@import url('https://fonts.googleapis.com/css?family=Alegreya:500i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');
body{
    background: linear-gradient(90deg, #F4D03F 0%, #16A085 50%, #F4D03F);
}
h1{
    font-family: 'Ultra', serif;
    text-align: center;
}
h4{
    color: white;
}
.card{
    font-family: 'Alegreya',serif;
    border-radius: 7%;
    background: linear-gradient(160deg, #B8B8B8 0%, #555F61 100% );
}
.card:hover{
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    background: #555F61;
}



